*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 35);
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}
.btm{
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    border-radius: .5rem;
    color: white;
    background-color: blueviolet;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btm:hover{
    background-color: rgb(132, 22, 235);
}
nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    padding: 1vw 10vw;

}
nav img{
    width: 200px;
    cursor: pointer;
}
nav .navigation{
    display: flex;
}
#menu-btn{
    width: 40px;
    height: 45px;
    display: none;
    margin-bottom: 150px;
}
#menu-close{
    display: none;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 50px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    transition: 0.2s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: blueviolet;
}
#login-btn{
    font-size: 1.6rem;
    margin-left: 25px;
    transition: 0.2s ease;
}
#login-btn:hover{
    color: blueviolet;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.login-form .active{
    right: 0;
}
.login-form form{
    background: white;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}
.login-form form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.login-form form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.login-form form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: black;
    text-transform: none;
}
.login-form form .checkbox{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1rem 0;
}
.login-form form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login-form form .btm{
    text-align: center;
    width: 100%;
    margin: 1.5rem;
}
.login-form form p{
  padding-top: .8rem;
  color: var(--light-color);
  font-size: 1.5rem;  
}
.login-form form p a{
    color: blueviolet;
    text-decoration: underline;
}
.login-form #close-login-btn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back0.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#home a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#home a.store:hover{
    background-color: rgb(43, 102, 212);
}
.border{
    width: 100%;
    float: left;
}
.border-bottom{
    width: 100%;
    border-bottom: 1px solid rgb(213, 206,206);
    margin: 0% auto;
    margin-top: 15px;
}
#course{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    background-color: whitesmoke;
    height: 100%;
}
#course .courses img{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
}
#home .courses .detail{
    padding: 15px 15px 0 15px;
}
#course .courses .detail i{
    color: gold;
    font-size: .9rem;
}
#course .courses .cost{
    background-color: darkslateblue;
    color: white;
    width: 80px;
    line-height: 80px;
    height: 80px;
    text-align: center;
    border-radius: 70%;
    margin-left:  auto;
}
#banner{
    background: url(../image/r1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}
#banner form {
    max-width: 45rem;
    margin-left: center;
    padding: 5rem 0;
}
#banner form h3{
    font-size: 3.2rem;
    color: black;
    padding-bottom: .7rem;
    font-weight: normal;
}
#banner form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: black;
    border-radius: .5rem;
    text-transform: none;
}
#banner form .btn{
    background-color: blueviolet;
    font-size: 1.8rem;
    color: white;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 500;
}
.pro-link{
    margin-top: 10px;
}
.pro-link span{
    font-size: 1.2rem;
    color: black;
}
.pro-link i{
    padding: 15px 18px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s ease;
}
.pro-link i:hover{
    background-color: rgb(135, 135, 215);
    color: white;
    border: 1px solid black;
}
.phone p{
    font-size: 1.5rem;
    margin-left: 100px;
}
#new{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back1.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#new h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#new p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#new .btn{
    margin-top: 30px;
}
#new a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#new a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#new a.store:hover{
    background-color: rgb(43, 102, 212);
}
#popular{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back2.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#popular h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#popular p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#popular .btn{
    margin-top: 30px;
}
#popular a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#popular a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#popular a.store:hover{
    background-color: rgb(43, 102, 212);
}
#novel{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back3.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#novel h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#novel p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#novel .btn{
    margin-top: 30px;
}
#novel a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#novel a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#novel a.store:hover{
    background-color: rgb(43, 102, 212);
}
#kid{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back4.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#kid h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#kid p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#kid .btn{
    margin-top: 30px;
}
#kid a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#kid a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#kid a.store:hover{
    background-color: rgb(43, 102, 212);
}
#horror{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/image/back5.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;

    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
#horror h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#horror p{
    margin-left: 470px;
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#horror .btn{
    margin-top: 30px;
}
#horror a{
    text-decoration: none;
    font-size: .9rem;
    padding: 14px 15px ;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#horror a.store{
    color: white;
    background-color: rgb(67, 127, 237);
}
#horror a.store:hover{
    background-color: rgb(43, 102, 212);
}
@media (max-width:769px) {
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 130ex;
    }
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 20px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255,255,255,0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: white;
    }
    #home{
        padding-top: 0px;
    }
    #home p{
        width: 90%;
        margin-left: auto;
    }
    #course {
        padding: 18px 4px 4px 8px;
    }
    #new{
        padding-top: 0px;
    }
    #new p{
        width: 90%;
        margin-left: auto;
    }
    #popular{
        padding-top: 0px;
    }
    #popular p{
        width: 90%;
        margin-left: auto;
    }
    #novel{
        padding-top: 0px;
    }
    #novel p{
        width: 90%;
        margin-left: auto;
    }
    #kid{
        padding-top: 0px;
    }
    #kid p{
        width: 90%;
        margin-left: auto;
    }
    #horror{
        padding-top: 0px;
    }
    #horror p{
        width: 90%;
        margin-left: auto;
    }
    #login-btn{
        color: white;
        margin-left: 55px;
    }
}